@media screen and (max-width: 992px) {
    .d-flex {
        flex-direction: column;
        justify-content: center;
        padding: 0;
        margin: 0;
        gap: 25px;
    }
    .d-colunm {
        padding: 0 4%;
        gap: 0;
    }
    .d-colunm-2 {
        margin: 0;
        padding: 0 4%;
        gap: 0;
    }
    .p {
        width: 100%;
        padding: 0;
        margin-top: 10px;
    }
    .order-1 {
        order: 2;
    }
    .order-2 {
        order: 1;
    }
    .margin-t {
        margin-top: 4rem;
    }
    .margin-b {
        margin-bottom: 2.5rem;
    }
    .Macbook {
        margin-top: 3rem;
    }
    .desktop  {
        width: 100px;
    }
    .p-3 {
        padding: 0 4%;
    }
    .align {
        line-height: 30px;
        width: 90%;
        margin-top: 30px;
    }

    .align > h1 {
        font-size: 30px;
    }
    .img-align {
        width: 100%;
    }
    .button {

        padding: 10px 4%;
        text-align: center;
        text-decoration: none;
        border-radius: 4px;
        color: white;
        position: relative;
        top: 30px;
        left: 50%;
        transform: translate(-50%);
    }

    h2 {
        padding: 0 4%;
    }
   
    input {
        width: 90%;
    }
    h3 {
        padding: 0;
    }

    p.color {
        margin-top: 25px;
    }
    .close > a {
        margin: 5%;
        padding-top: 10px;
        color: #0D0D0C;
    }
    .close:hover {
        color: #000;
    }
}