* {margin: 0; padding: 0; box-sizing: border-box; text-decoration: none;}

body, html {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #fffffff1;
}

/* classes auxiliares */


/* 1 - aparti daqui irei aplicar algo parecido com framework como bootstrap com base no layout que desenvolvi */

.f-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400px;
}

.f-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.clear {
    clear: both;
}

.w-right {
    width: 50%;
    float: right;
    padding-top: 16px;
}

.container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #fffffff1;
}

.h-center {
    margin-top: 5rem;
}

.d-flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.d-between {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 109px;
    width: 100%;
}

.d-colunm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.line {
    width: 100px;
    height: 5px;
    background-color: white;
    color: white;
    border-radius: 40px;
}

.order1 {
    order: 1;
}

.order2 {
    order: 2;
}

.w-50 {
    width: 50%;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.h-65 {
    width: auto;
    height: 650px;
}

.bg-1 {
    background-color: #0D0D0C;
}

.bg-2 {
    background-color: white;
}

.bg-3 {
    background-color: #030CFF;
}

.mt {
    margin-top: 85px;
}

.mt-2 {
    margin-top: 170px;
}
.line-h {
    line-height: 30px;
    text-align: justify;
}

.button {
    background-color: #0D0D0C;
    padding: 15px 25px;
    text-decoration: none;
    color: white;
}

.content {
    max-height: 330px;
    height: 80%;
    padding-left: 10%;
    padding-top: 8%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    /* justify-content: center; na media resposiva tire isso aqui e formata com padding */
    background-color: white;
}

.p {
    margin: 35px 0;
    width: 90%;
    padding-right: 2%;
}


/* classes auxiliares acaba aqui */

nav {
    height: 70px;
    padding: 0;
   
}

.w-right {
    display: none;
}

.menu-toggle {
    display: none;
}

.menu-toggle > ul {
    display: none;
}

.menu {
    float:right;
    padding:20px 10%;
}

.menu > a {
    padding: 0 30px;
    text-decoration: none;
    color: white;
}

.box {
    width: 100%;
    height: 800px;
    background-color: red;
}

.bannerhero {
    width: 100%;
    max-width: 100%;
    height: 100%;
    background-image: url(assets/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    background-attachment: fixed;
}

.bannerhero::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #30301b;
    opacity: 0.42;
}

.box::before {
    content: 'Olá!';
    display: block;
    position: absolute;
    z-index: 2;
    color: white;
    left: 50%;
    top: 40%;
    transform: translate(-50%);
    font-size: 70px;
    text-align: center;
}



.img {
    width: 100%;
    max-width: 100%;
    min-width: 450px;
}

h4 {
    color: white;
    margin: 11px 0;
}

.text > h2 {
    color: white;
    left: left;
}
.text > p {
    color: white;
}

.mouse {
    position: absolute;
    z-index: 2;

    top: 80%;
    left: 50%;
    transform: translate(-50%);
    filter: contrast(200%) brightness(150%);
}

.mouse > img {
    filter: contrast(200%) brightness(150%);
}

input {
    width: 400px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 15px;
    margin-top: 10px;
}

.footer {
    padding: 20px 12px;
    text-align: center;
    font-size: 18px;
}



